{{page-title 'User'}}
<div class="container">
  <h2>
    Users
  </h2>
  <div class="columns is-centered" data-test-unarchived-users>
    {{#each this.unarchivedUsers as |user|}}
      <div class="column" data-test-single-unarchived-user>
        <LinkTo @route="users.user" @model={{user}}>
          <div class="user-select is-220px">
            <img
              class="is-pulled-left"
              src={{user.image}}
              width="60px"
              alt="profile-image"
            />
            <p>
              {{user.name}}
            </p>
          </div>
        </LinkTo>
      </div>
    {{/each}}
  </div>
  {{#if this.archivedUsers}}
    <h4>
      Archived users
    </h4>
    <div class="columns is-centered" data-test-archived-users>
      {{#each this.archivedUsers as |user|}}
        <div class="column" data-test-single-archived-user>
          <LinkTo @route="users.user" @model={{user}}>
            <div class="user-select is-220px">
              <img
                class="is-pulled-left"
                src={{user.image}}
                width="60px"
                alt="profile-image"
              />
              <p>
                {{user.name}}
              </p>
            </div>
          </LinkTo>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>